@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --white-bg: rgba(255, 255, 255);
    --white-accent-bg: rgb(195, 195, 195);
    --black-color-1: rgb(0, 0, 0);
    --black-color-2: rgb(151, 151, 151);
    --black-color-3: rgb(92, 92, 92);
    --black-bg: rgb(0, 0, 0);
    --white-color-1: rgb(255, 255, 255);
    --white-color-2: rgb(209, 209, 209);
    --white-color-3: rgb(148, 148, 148);
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', serif;
    font-size: 1.1rem;
    background-color: var(--white-bg);
    color: var(--black-color-1);
    overflow: auto;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #00000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #b1b1b18f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b1b1b1b6;
}

::-webkit-scrollbar-thumb:active {
    background: #b1b1b152;
}

h1 {
    font-size: 1.8em;
    font-weight: 400;
}

h2 {
    font-size: 1.4em;
    font-weight: 500;
}

h3 {
    font-size: 1.2em;
    font-weight: 500;
}

a {
    color: var(--black-color-1);
    transition: all .2s;
}

a:hover {
    color: var(--black-color-2);
}

a:focus {
    color: var(--black-color-3);
}

img {
    max-width: 600px;
    border-radius: 10px;
}

td,
th {
    border: 1px solid var(--white-color-2);
    padding: 8px;
    margin: 0;
}

th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: var(--white-accent-bg);
}

table {
    border-collapse: collapse;
}

.link {
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.05);
    display: inline-block;
}

.link:hover {
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: underline;
}

.link:focus {
    background-color: rgba(0, 0, 0, 0.15);
    text-decoration: underline;
}

img {
    border-radius: 10px;
}

#main {
    margin-top: 10px;
    margin-left: 390px;
    padding-left: 150px;
    padding-right: 150px;
    transition: all .5s;
    z-index: 2;
    display: flex;
    place-content: center;
    box-sizing: border-box;
    padding-bottom: 50px;
}

#main > section {
    width: 100%;
}

#sidebar {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 355px;
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
    height: calc(100% - 20px);
    overflow: visible;
    z-index: 9999;
    opacity: 1;
    transition: all .2s;
}

#sidebar > div {
    box-sizing: border-box;
    margin: 10px;
    padding: 20px;
    height: 100%;
    overflow: auto;
    border-radius: 20px;
    border: 1px solid var(--white-accent-bg);
    background-color: var(--white-bg);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.10);
}

#toc {
    margin-bottom: 10px;
}

.sidebar-link {
    display: block;
    margin-bottom: 10px;
    background-color: #00000000 !important;
}

.sidebar-link:hover {
    background-color: #00000000 !important;
}

.sidebar-link:focus {
    background-color: #00000000 !important;
}

.sidebar-logo {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.sidebar-sublink {
    text-indent: 30px;
}

.toc-li {
    margin-left: -20px;
}

.divider {
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid var(--black-color-3);
}

.align-center {
    text-align: center;
}

.menu-btn {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.back-btn {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.fixed-top-btn-container {
    display: flex !important;
    position: fixed;
    top: 30px;
    left: 385px;
    z-index: 10000;
    gap: 2px;
    transition: all .5s;
}

.fixed-top-btn {
    color: var(--black-color-1);
    padding: 12px;
    width: 35px;
    height: 20px;
    display: flex;
    place-content: center;
    border: 1px solid var(--white-accent-bg);
    background-color: var(--white-bg);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.10);
    text-decoration: none;
}

.fixed-top-btn:active {
    background-color: var(--white-color-2);
}

.fa-bars {
    display: block !important;
}

.circle {
    border-radius: 50%;
}

.flex {
    display: flex;
    align-items: center;
}

.column {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
}

.subtitle {
    opacity: 0.8;
    text-align: center;
    font-size: 0.9rem;
}

.flex-element {
    margin: 30px;
}

.banner-container {
    position: relative;
    overflow: hidden;
    height: 500px;
    margin: 20px;
    margin-left: 375px;
    transition: all .5s;
    border-radius: 20px;
    box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.1), 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.banner-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border-radius: 0;
    box-shadow: inset 0 -15px 10px -10px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    right: 0;
}

.banner-text-container {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}

.banner-text {
    text-align: left;
    line-height: 1.1em;
    margin: 5px;
    color: var(--white-color-1);
    font-weight: 400;
}

h3.banner-text {
    color: var(--white-color-2);
    font-weight: 300;
}

.card-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    position: relative;
    flex: 1 0 320px;
    border: 1px solid var(--white-accent-bg);
    background-color: var(--white-bg);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.10);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    text-align: left;
    bottom: 0;
    transition: all .3s;
    display: flex;
    flex-direction: column;
}

.card:hover {
    bottom: 4px;
}

.card > a > h2 {
    font-weight: 400;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
}

.card > p {
    line-height: 1rem;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-person {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.card-img {
    max-width: 200% !important;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}

.chip-container {
    margin-top: 20px;
    margin-left: 375px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.chip {
    border: 1px solid var(--white-accent-bg);
    background-color: var(--white-bg);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    height: 40px;
    padding: 0px 20px;
    place-items: center;
    width: max-content;
    text-align: center;
    gap: 10px;
    border-radius: 20px;
    font-size: 0.8em;
    color: #4A4A4A;
    line-height: 24px;
}

.link-card {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    border-radius: 20px;
}

.link-card:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.card>a {
    text-decoration: none;
}

.highlight {
    background-color: rgba(255, 255, 0, 0.3);
    display: block;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    place-items: center;
}

.highlight>* {
    margin: 15px;
}

span.frac {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

span.frac>sup,
span.frac>sub {
    display: block;
    padding: 0 0.3em;
}

span.frac>sup {
    border-bottom: 0.08em solid;
    padding: 0.3em;
}

span.frac>span {
    display: none;
}

sup>.frac {
    vertical-align: super;
    font-size: small;
}

sup>sup {
    font-size: smaller;
}

.root::before {
    content: "√";
    margin-left: calc(-1ch - 5px + 1.5px);
    font-size: x-large;
    margin-top: -3.1px;
    display: inline-block;
}

.root {
    display: inline-block;
    margin-top: 3px;
    margin-left: 1.15ch;
    border-top: 2px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

#img-alazhar {
    background-image: url(/assets/images/hero/alazhar.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.gradient-bg {
    position: inherit;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
}

#img-main {
    background-image: url(https://img-cdn.inc.com/image/upload/w_1920,h_1080,c_fill/images/panoramic/GettyImages-577674005_492115_zfpgiw.jpg);
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(80%);
}

#img-school {
    background-image: url(https://smpia25.al-azhar.sch.id/wp-content/uploads/2022/09/slide-SMPIA_25-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(80%);
}

#img-supplies {
    background-image: url(/assets/images/hero/schoolsupplies.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

li>a {
    text-decoration: none;
}

li>a:hover {
    text-decoration: underline;
}

@media(max-width: 700px) {
    .flex {
        flex-direction: column;
    }

    #main {
        margin-left: 0;
        padding-left: 0px;
        padding-right: 0px;
        padding: 30px;
    }

    #banner {
        margin-left: 20px;
    }

    #sidebar {
        visibility: hidden;
        opacity: 0;
    }

    .fixed-top-btn-container {
        left: 30px;
    }

    .highlight {
        flex-direction: column;
    }

    img {
        max-width: 100% !important;
    }
}